.pow-outer {
    background-color: #1F2937;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20px;
}

.pow-body {
    background-color: #F8F8FF;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 4px;
    color: black;
}