body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    min-width: 100vw;
}

* {
    font-family: Libertinus;
}

/*HEADER*/

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    align-items: center;
    /* padding: 0 192px; */
    padding-left: 10%;
    padding-right: 10%;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 0;
    padding-top: 8px;
}

.links {
    list-style-type: none;  
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: end;
    /*gap: 24px;*/
    margin: 0;
    padding: 0;
    font-size: 12px;
    flex-shrink: 1;
    width: 100%;

    
}

.header-button {
    flex-shrink: 1;

}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.logo {
    font-size: 36px; 
    color: #F9FAF8;
    font-weight: bold;
    font-family: Libertinus; 
    flex-shrink: 1;
}

/*BODY1-LOGO AND PHRASE*/

.body1 {
    background-color:#1F2937;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body1-main-text {
    font-size: 80px;
    font-weight: 900;
    color: #F9FAF8;
    flex-shrink: 1;
}

.body1-subtext {
    font-size: 36px;
    color: #E5E7EB;
}

.body-around-all {
    display: flex;
    /*flex-direction: row; */
    /* padding: 60px 192px;  */
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.body1-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 36px;
    text-align: center;
}

.logoImage {
    height: 300px;
}

/*MISSON STATEMENT*/

.body2 {
    background-color: #e0e0e0;
}

.body2-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-top: 32px;
    padding-bottom: 32px;
}

.body2-main-text {
    padding: 0 192px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    font-size: 30px;
    color: #1F2937;
    padding-bottom: 32px;
    font-style: italic;
}

/* DISPLAY RESOURCES */

.body3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.body3-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-top: 32px;
    padding-bottom: 0px;
}

.body3-body {
    display: flex;
    flex-direction: row;
    /* padding: 60px 192px;  */
    padding: 60px;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-around;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;

}

.body3-box1, .body3-box2, .body3-box3 {
    width: 260px;
    text-align: center;
    flex-shrink: 1;
}

.box-header {
    font-size: 24px;
}

.box1-image, .box2-image, .box3-image {
    height: 100px;
    flex-shrink: 1;
}

img {
    padding: 0;
    margin: 0;
}

/*MEET OUR TEAM*/

.body4 {
    display: flex;
    flex-direction: column;
    background-color: #284b63;
    align-items: center;
    justify-content: space-between;
    /* padding: 32px; */
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 32px;
}

.body4-members {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 16px;
    flex-wrap: wrap;
}

.body4-photos {
    height: 200px;
    width: 200px;
    padding-bottom: 16px;
}

.member-block {
    background-color: #1c3546;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    border-radius: 8px;
}

.body4-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #eef0eb;
    padding-bottom: 32px;
    padding-top: 32px;
}

.body4-name {
    color: #eef0eb;
    font-weight: 900;
}

.body4-position {
    color: #eef0eb;
    font-weight: 900;
    text-align: center;
}   

.body4-aboutme {
    color: #eef0eb;
}

.body4-member-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

/*PROMYS INTERVIEW*/

.body5 {
    display: flex;
    flex-direction: column;
    /* padding: 0 192px; */
    padding-left: 10%;
    padding-right: 10%;

}

.promys-image {
    width: 100%;
    max-height: auto;
    flex-shrink: 1;
    box-shadow: 10px 10px #1F2937;
    border-radius: 8px;
    border-color: #1F2937;
    box-sizing: border-box;
    max-width: 300px;
}

.body5-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-bottom: 32px;
    padding-top: 32px;
}

.body5-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 32px;
    gap: 16px;
    flex-wrap: wrap;
}

.body5-blurb {
    color: #1F2937;
    font-size: 18px;
    background-color: #c6cebd;
    box-shadow: 10px 10px #1F2937;
    padding: 10px;
    border-radius: 8px;
    font-style: italic;
    max-width: 700px;
}

.body5-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

/*.body5-button {
    max-width: 150px;
    font-size: 16px;
    color: #1F2937;
    align-self: end;
    padding: 4px;
    border-radius: 10px; 
} */



/*PROMYS INTERVIEW BUTTON*/
.body5-button {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #1F2937;
  border-radius: 8px;
  box-sizing: border-box;
  color: #1F2937;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 250px;
  font-weight: 900;
  align-self: end;
}

.body5-button-link {
    align-self:end;
}

.body5-button:after {
  background-color: #1F2937;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.body5-button:hover:after {
  transform: translate(0, 0);
}

.body5-button:active {
  background-color: #ffdeda;
  outline: 0;
}

.body5-bbuton:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .body5-button {
    padding: 0 40px;
  }
}

/*HEADER BUTTON */
.header-button {
  appearance: none;
  background-color: #1F2937;
  border-width: 0;
  box-sizing: border-box;
  color: #fee6e3;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 0.5em 0.5em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
  flex-shrink: 1;
}

.header-button:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #1c3546;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.header-button:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.header-button:after {
  background-color: #1F2937;
}

.header-button span {
  z-index: 1;
  position: relative;
}

/*promysInterviews*/
.pI-body{
    background-color: #1F2937;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 16px;
}

.pI-text {
    background-color: #e0e0e0;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 64px;
    border-radius: 4px;
}


.question {
    background-color:white;
    border-radius: 4px;
    box-shadow: 10px 10px #C1E1C1;
    box-sizing: border-box;
    padding: 8px;

}

.answer {
    background-color:white;
    border-radius: 4px;
    box-shadow: 10px 10px #FAA0A0;
    box-sizing: border-box;
    padding: 8px;
    font-size: 16px;
}

.QA {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 16px;
}

.pI-intro {
    background-color: white;
    border-radius: 4px;
    box-shadow: 10px 10px #1F2937;
    padding: 8px;
    font-size: 16px;
}

.tabs-bar {
    border-radius: 4px;
}

.author {
    padding-bottom: 8px;
    font-weight: 900;
}

.date {
    padding-bottom: 8px;
    font-weight: 900;
}

.footer{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 16px;
    color: #fee6e3;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

/*BLOGS*/

.blogs-outer {
    background-color: #1F2937;
    padding-left: 10%;
    padding-right: 10%;
}

.blogs-header {
    font-size: 48px;
    color: white;
    font-weight: 900;
    padding: 8px 0;
}

.blogs-body {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 4px;
    color: black;
}

.blog-box {
    background-color: white;
    border-radius: 4px;
    box-shadow: 10px 10px #1F2937;
    font-size: 16px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
}

.blog-title {
    color: black;
    font-size: 36px;
}

.blog-text {
    font-size: 20px;
}

/*RESOURCES*/

.pI-body2{
    background-color: #1F2937;
    padding-left: 10%;
    padding-right: 10%;
}

.resources-header {
    font-size: 48px;
    color: white;
    font-weight: 900;
}

.resource-box {
    background-color: white;
    border-radius: 4px;
    box-shadow: 10px 10px #1F2937;
    font-size: 16px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
}

.resource-title {
    color: black;
    font-size: 36px;
}

.resource-text {
    font-size: 20px;
}

/*ARCHIVES*/

.archives-outer {
    background-color: #1F2937;
    padding-left: 10%;
    padding-right: 10%;
}

.archives-header {
    font-size: 48px;
    color: white;
    font-weight: 900;
    padding: 8px 0;
}

.archives-body {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 32px;
    padding-bottom: 32px;
    border-radius: 4px;
    color: black;
}

.archive-box {
    background-color: white;
    border-radius: 4px;
    box-shadow: 10px 10px #1F2937;
    font-size: 16px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 20px;
}

.archive-title {
    color: black;
    font-size: 36px;
}

.archive-text {
    font-size: 20px;
}

h2 {
    padding-top: 4px;
}

.resource-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.resource-link {
    color: #377e9e;
}



